.label{
    -fx-font-size: 100%;
    -fx-font-weight: normal;
}

.names{
    -fx-font-weight: bold;
    -fx-border-width: 2;
    -fx-border-color: darkgray;
    -fx-padding: 5;
    -fx-start-margin: 5;
}

.turnTrue{
    -fx-background-color: lightgreen;
}

.selected{
    -fx-border-width: 3;
    -fx-border-color: #24a0ed;
    -fx-opacity: 0.5;
    -fx-background-color: #c5c5c5;
}