.root {
    -fx-background-color: LIGHTGRAY;
}

.label{
    -fx-font-size: 50;
    -fx-font-weight: bold;
}

.button {
    -fx-background-radius: 10;
    -fx-font-weight: bold;
}

.returnButton {
    -fx-pref-height: 20;
    -fx-pref-width: 50;
}

.list-cell {
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-padding: 5;
}